@using Microsoft.AspNetCore.Components

<article>
    <picture>
        <img src="" alt="@Title" />
    </picture>
    <section class="">
        <h2>@Title</h2>
        <p>@Description</p>
        <div>
            <div>
                <h3>Dinero recaudado</h3>
                <p>@MoneyRaised</p>
            </div>
            <progress class="bulma-progress bulma-is-success" value="@RemainingPercentage" max="100"></progress>
        </div>
        <button class="bulma-button bulma-is-success bulma-is-light">Dona ahora</button>
    </section>
</article>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public string MoneyRaised { get; set; } = string.Empty;

    [Parameter]
    public int RemainingPercentage { get; set; }

    [Parameter]
    public string ImageUrl { get; set; } = string.Empty;
}
